<tr>
  <th scope='row'><span class='badge'>{{count}}</span> {{tag}}</th>
  <td>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="background-image: none; background-color: {{color}}; width: {{percentage}}%; color: #333">
        {{percentage}}%
      </div>
    </div>
  </td>
</tr>
